@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: #fff;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}

input {
  flex-grow: 2;
  border: none;
  font-size: 16px;
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
}

.card-subtitle, .card-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card {
  background-color: #fff;
  color: #333;
  width: 350px;
  border-radius: 15px;
  margin: 1rem 1rem;
  padding: 1rem;
  height: 100%;
  display: flex;
  position: relative;
}

.card-cover {
  width: 22%;
  height: 15rem;
  margin: 0 1rem 0 0;
  display: flex;
  flex-shrink: 0;
}

.card-cover-img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.num-display {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  font-size: 19px;
  border: 1px #eee solid;
  transition: 0.3s;
  position: absolute;
  top: -10px;
  background-color: #191920;
  color: #fff;
  font-weight: bolder;
  border: 2px solid #202142;
  left: -10px;
}

.card-body {
  width: 70%;
}

.card-title {
  color: #191920;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.close,
.edit {
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
  background: none;
  border: none;
}

.edit {
  right: 8%;
}

.card-info {
  color: #d4d4d4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mini-card {
  background-color: gray;
  flex: 1;
  width: auto;
  margin: 0.3rem;
  color: #191920;
  padding: 0.8rem;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.mini-card p {
  margin: 0.3rem auto;
  font-weight: bolder;
  letter-spacing: 2px;
  border-radius: 1rem;
}

.inOrder {
  position: absolute;
  top: 2%;
  font-weight: bolder;
  padding: 0.2rem 1rem;
  left: 5%;
  background-color: #1c471f;
  color: #d4d4d4;
  border-radius: 1rem;
}

.status {
  position: absolute;
  bottom: 10%;
  font-weight: bolder;
  padding: 0.2rem 1rem;
  left: 2%;
  background-color: #1c471f;
  color: #d4d4d4;
  border-radius: 1rem;
}

.rupture {
  background-color: #8f1010;
  color: #d4d4d4;
}

.stock {
  background-color: #1c471f;
  color: #d4d4d4;
}

.refference {
  background-color: #202142;
  color: #d4d4d4;
}

.card-subtitle {
  color: red;
  margin-bottom: 0.5rem;
  width: 91%;
}

.card-request-hero {
  display: flex;
  margin-top: 1rem;
}
.card-request-hero .text {
  flex: 3;
}

.card-info-date {
  display: flex;
}

.card-info-order {
  color: #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card-date {
  margin: 1rem;
}
.card-date h3 {
  font-size: 1rem;
}
.card-date p {
  border-radius: 1rem;
  text-align: center;
  padding: 0.6rem;
}/*# sourceMappingURL=Card.css.map */