// ----- Colors -----

$primary: #e3001b;
$secondary: #1d1d1d;
$light: #d4d4d4;
$blue: #202142;
$dark: #333;
$darkBlue: #191920;
//nuances
$success: #1c471f;
$warning: #a75017;
$danger: #8f1010;

$red: #ec919a;
$mainMaxWith: 1200px;


// shadow 
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// radius
$radius: 1rem;

// Responsive
$smartphone: 45rem;
$tabletMin: 50.1rem;
$tabletMax: 76.8rem;
$normalMin: 76.9rem;
$normalMax: 120rem;
$widescreen: 120.1;
$landscape: 50rem; 