@import "../../styles/reset";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/placeholders";

.kanban-noProduct {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: $radius;
    border: solid 3px $darkBlue;
    padding: 2rem;
    justify-content: space-between;
}

.kanban-cover {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: $radius;
    border: solid 3px $darkBlue;
    padding: 2rem;
}

.kanban-cover-image {
    height: 19rem;
    margin-right: 3rem;
    flex: 1;
  flex-shrink: 0;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

}

.kanban-cover-body {
    flex: 3;
    height: 19rem;
   

    h3{
        text-align: center;
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        margin-bottom: 1rem;
    }
}


.cover-body-item {
    display: flex;
    align-items: center;
    justify-content: center;
.red-title {
    margin-right: 2rem;
    text-transform: uppercase;
}

}

.kanban-stats{
   
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .card-recap {
        color: $dark;
  text-align: center;
border-radius: $radius;
  padding: 1rem;
  width: 12rem;
    
     box-shadow: $shadow;
        background-color: #fff;
    }
}

.round {
    border-radius: $radius;
}

.red {

    background-color: $red;
}
.orange {

    background-color: $orange;
}
.green {

    background-color: $green;
}


.card-info-kanban-order{
    display: flex;
    padding: 1rem 5rem;
    width: 100%;

    
   
}

.card-body-item{
margin: 0 0.5rem;
display: flex;
flex-direction: column;
   border: solid 2px $darkBlue;
    padding: 1rem;
    border-radius: $radius;
    color: $dark;
    flex: 1;
    h3{
    flex: 1;
        text-align: center;
        font-size: 1rem;
    }
    p{
        background-color: red;
        text-align: center;
        border-radius: $radius;
        color: #fff;
    }
}