@import "../../../../styles/reset";
@import "../../../../styles/variables";
@import "../../../../styles/mixins";
@import "../../../../styles/placeholders";

.btn {
  color: $light;
  border: 0;
  display: flex;
  padding: 0.5rem;
  margin: 1rem auto;
  align-items: center;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: $shadow;
  cursor: pointer;
}
.btn img{
  margin: 0 1rem 0 0;
}
.btn-primary {
  background-color: $blue;
}

.btn-secondary {
  background: $primary;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

.btn:disabled {
  background-color: #04030f;
  color: #333;
  cursor: auto;
}

.btn:disabled:hover {
  transform: scale(1);
  opacity: 1;
}
