@import '../../../../styles/reset';
@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../styles/placeholders';

.dialog_form {
    display: flex;
    padding: 6rem 2rem 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $radius;
    background-color: $secondary;
  
  }


  
.close-Modal {
    position: absolute;
    color: $primary;
    font-weight: bolder;
    right: 5%;
    top: 3%;

    padding: 1.8rem 1rem;
    img{
        height: 1.4rem;
    }
  }

  .modal {

    position: fixed;
    color: whitesmoke;
    border-radius: 1rem;
    padding: 2rem;
top: 50%;
left: 50%;
   width: 100%;
     transform: translate(-50%, -50%);
  }

  
.form-title{
    width: 80%;
    background-color: $darkBlue;
    box-shadow: $shadow;
    border-radius: $radius;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: 1.2px;
    position: absolute;
    top: 9%;
    
  
}


.btn-form-submit{
    background: $danger;
    color: $light;
    display: flex;
    padding: 0.9rem 2rem;
  position: absolute;
  box-shadow: $shadow;
  
  }