@import "../../../styles/reset";
@import "../../../styles/variables";
@import "../../../styles/placeholders";
@import "../../../styles/foreach";
@import "../../../styles/mixins";
@import "../../../styles/animations";


.error-main {
  background-color: $secondary;
  height: 100vh;
}
hgroup {
  font-size: 3vw;

  color: white;
  padding-top: 29vh;

  text-align: center;
  h1 {
    margin-bottom: 2rem;
    font-size: 10vw;
  }
}

